<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">action</th>
        </tr>
    </thead>
    <tbody>

        <% products.forEach(product=>{ %>
            <tr>
                <th>
                    <%= product.id %>
                </th>
                <td>
                    <%= product.name %>
                </td>
                <td>
                    <%= product.desc %>
                </td>
                <td scope="col">
                    <%= product.pri %>
                </td>
                <td>
                    <img src=" <%= product.imgUrl %>" />
                </td>
                <td>
                     <a href="/updating/<%= product.id %>" class="btn btn-warning">updating values </a>
                </td>
            </tr>
            <% }) %>

    </tbody>
</table>