<!-- hear we are the creating the form of the that taking the input form  -->
 

<h1 class="mt-5 mb-4">Updating New Product</h1>

<% if(errorMessage){  %>
<div class="alert alert-primary" role="alert">
   <%= errorMessage %> 
  </div>
<% } %>

<form action="/updatingNewProduct" method="post">


    <input type="hidden" class="form-control" id="name" name="id"  value="<%= products.id %>" required>

    <div class="mb-3">
        <label for="name" class="form-label">Product Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= products.name %>" required>
    </div>
    <div class="mb-3">
        <label for="desc" class="form-label">Product Description</label>
        <textarea class="form-control" id="desc" name="desc" rows="3"  ><%= products.desc %></textarea>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" name="pri" step="0.01" min="0" value="<%= products.pri %>" >
    </div>
    <div class="mb-3">
        <label for="imageUrl" class="form-label">Image URL</label>
        <input type="text" class="form-control" id="imageUrl" name="imgUrl"  value="<%= products.imgUrl %>">
    </div>
    <button type="submit" class="btn btn-primary">Add Product</button>
</form>
